---
meta:
  name:    toolbelt
  release: Toolbelt
  target:  sw
  url:     https://ci.vsphere.starkandwayne.com

  initial_version: 2.1.0

  bosh-lite:
    target: https://10.58.111.44:25555
    deployment: toolbelt-warden

  aws:
    access_key: (( vault "secret/aws/cfcommunity:access" ))
    secret_key: (( vault "secret/aws/cfcommunity:secret" ))

  github:
    owner:  cloudfoundry-community
    repo:   toolbelt-boshrelease
    branch: master
    private_key:  (( vault "secret/pipelines/toolbelt-boshrelease/github:private" ))
    access_token: (( vault "secret/pipelines/toolbelt-boshrelease/github:token" ))

  slack:
    webhook: (( vault "secret/pipelines/toolbelt-boshrelease/slack:webhook" ))
    channel: '#botspam'
