---
meta:
  name:    toolbelt
  release: Toolbelt
  target:  pipes
  url:     https://pipes.starkandwayne.com

  initial_version: 2.1.0

  git:
    email: ci@starkandwayne.com
    name:  Stark & Wayne CI Bot

  bosh-lite:
    target: https://10.200.131.9:25555
    username: ((thunder-dome.username))
    password: ((thunder-dome.password))
    cacert:   ((thunder-dome.ca-certificate))

  aws:
    access_key: ((cfcommunity.access))
    secret_key: ((cfcommunity.secret))

  github:
    owner:  cloudfoundry-community
    repo:   toolbelt-boshrelease
    branch: master
    private_key:  ((github.private-key))
    access_token: ((github.access-token))


  shout:
    url:      http://10.128.4.65:7109
    username: ((shout.username))
    password: ((shout.password))

groups:
  - name: blobs
    jobs:
    - spruce

jobs:
  - name: spruce # {{{
    public: true
    plan:
    - in_parallel:
      - { get: git }
      - { get: spruce, trigger: true }
    - task: update-spruce
      config:
        platform: linux
        image_resource:
          type: docker-image
          source:
            repository: (( grab meta.image.name ))
            tag:        (( grab meta.image.tag ))
        inputs:
        - name: git
        - name: spruce
        outputs:
        - name: pushme
        run:
          path: ./git/ci/scripts/update-blob
        params:
          REPO_ROOT:        git
          REPO_OUT:         pushme
          RELEASE_DIR:      spruce
          BLOB_DIR:         spruce
          BLOB_NAME:        spruce
          BLOB_BINARY:      spruce-linux-amd64
          BLOB_DESTINATION: spruce/spruce-linux-amd64
          BLOB_CLEANUP:     spruce/spruce-linux-amd64
          AWS_ACCESS_KEY:   (( grab meta.aws.access_key ))
          AWS_SECRET_KEY:   (( grab meta.aws.secret_key ))
          BRANCH:       (( grab meta.github.branch ))
      on_success:
        put: notify
        params:
          topic:   (( concat meta.shout.topic "-$BUILD_JOB_NAME" ))
          message: blob ingestion job '$BUILD_JOB_NAME' succeeded.
          ok:      yes
          link:    (( grab meta.shout.links.build ))
      on_failure:
        put: notify
        params:
          topic:   (( concat meta.shout.topic "-$BUILD_JOB_NAME" ))
          message: blob ingestion job '$BUILD_JOB_NAME' failed.
          ok:      no
          link:    (( grab meta.shout.links.build ))
    - put: git
      params:
        rebase: true
        repository: pushme/git
      on_success:
        put: notify
        params:
          topic:   (( concat meta.shout.topic "-$BUILD_JOB_NAME" ))
          message: blob ingestion job '$BUILD_JOB_NAME' succeeded.
          ok:      yes
          link:    (( grab meta.shout.links.build ))
      on_failure:
        put: notify
        params:
          topic:   (( concat meta.shout.topic "-$BUILD_JOB_NAME" ))
          message: blob ingestion job '$BUILD_JOB_NAME' failed.
          ok:      no
          link:    (( grab meta.shout.links.build ))
  # }}}

resources:
  - name: spruce # {{{
    type: github-release
    source:
      user: geofffranks
      repository: spruce
      access_token: (( grab meta.github.access_token ))
  # }}}
